/*！强制 */
$color1: #ff00ff;
/* 
多行注释
*/
//单行

#div1{
  color: $color1;
  .p1{
    border:1px solid $color1;
    &-span1{
      color: black;
    }
  }
  &:hover{
    background-color: red;
  }
}
#div2{
  background-color: $color1;
}
#div3{
  border: {
    color:$color1;
    width:1px
  }
}
#div4{
  border: {
    left: {
      color:$color1
    }
  }
}
$val1:width;
#div5{
  #{$val1}:10px;
}
@mixin mm($h,$w:10px){
  width: $w;
  height: $h;
  background-color: red;
}
#div6{
  @include mm($h:200px)
}
#div7{
  font-size: 20px;
  color: black;
}
#div8{
  @extend #div7;
  background-color: #fff;
}
@import "main";
#div9{
  // width: 5+6px;
  height: 10-6px;
  font-size: 2*10px;
  border-width: (100px/10);
  width: percentage(2/100)
}